{% import "bootstrap/utils.html" as utils %}
{% extends "base.html" %}
{% block title %}Control Recipes{% endblock %}
{% block body %}
<div class="content-section">
  <div class="outer">
    <div class="middle">
      <div class="inner">
        <br/>
        {{ utils.flashed_messages() }}
        <br/>
        <h1 style="text-align:center;">Control Recipes</h1>
        {% if controlrecipes %}
          <hr class="intro-divider">
          <div class="center">
            <table class="table table-striped table-bordered">
              <thead>
                <tr>
                  <th width="15%"> Control Name </th>
                  <th width="40%"> Recipe Name </th>
                  <th width="15%"> Edit </th>
                  <th width="15%"> Delete </th>
                </tr>
              </thead>
              <tbody>
              {% for cr in controlrecipes %}
                <tr>
                  <td> {{ cr.control_name }} </td>
                  <td> {{ cr.recipe_name }} </td>
                  <td>
                    <a href="{{ url_for('control_recipe.edit_control_recipe', id=cr.control_recipe_id) }}">
                      <i class="fa fa-pencil"></i> Edit
                    </a>
                  </td>
                  <td>
                    <a href="{{ url_for('control_recipe.delete_control_recipe', id=cr.control_recipe_id) }}">
                      <i class="fa fa-trash"></i> Delete
                    </a>
                  </td>
                </tr>
              {% endfor %}
              </tbody>
            </table>
          </div>
          <div style="text-align: center">
        {% else %}
          <div style="text-align: center">
            <h3> No control recipes have been added. </h3>
            <hr class="intro-divider">
        {% endif %}
          <a href="{{ url_for('control_recipe.add_control_recipe') }}" class="btn btn-default btn-lg">
            <i class="fa fa-plus"></i>
            Add Recipe
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}