{% extends "base.html" %}
{% block title %}Domain Dimension{% endblock %}
{% block body %}
<div class="container">
  <div class="table-wrapper">
    <div class="table-title">
      <div class="row">
        <div class="col-sm-6">
          <h2>Manage <b>Geography</b></h2>
        </div>
        <div class="col-sm-6">
          <a href="#addGeographyModal" class="btn btn-success" data-toggle="modal"><i
              class="material-icons">&#xE147;</i> <span>Add New Geography</span></a>
          <a href="#deleteGeographyModal" class="btn btn-danger" data-toggle="modal"><i
              class="material-icons">&#xE15C;</i> <span>Delete</span></a>
        </div>
      </div>
    </div>
    <table class="table table-striped table-hover">
      <thead>
        <tr>
          <th>
            <span class="custom-checkbox">
              <input type="checkbox" id="selectAll">
              <label for="selectAll"></label>
            </span>
          </th>
          <th>Geography Name</th>
          <th>Description</th>
          <th>Parent</th>
          <th>Similarity</th>
          <th>Actions</th>

        </tr>
      </thead>
      <tbody>
        {% for geography in geography %}
        <tr>
          <td>
            <span class="custom-checkbox">
              <input type="checkbox" id="{{ 'geography' ~ geography.geo_id }}" 
                name="options[]"
                value="{{ geography.geo_id }}" 
                data-id="{{ geography.geo_id }}"
                data-children="{{ geography.children|safe }}"
                data-parent="{{ geography.parent_geo_id }}"
              >
              <label for="checkbox1"></label>
            </span>
          </td>
          <td> {% for space in range(1, geography.depth) %}<span> &#0149; </span>{% endfor %}{{ geography.geo_name }} </td>
          <td> {{ geography.geo_descr }} </td>
          <td> {{ geography.parent_geo_id }} </td>
          <td> {{ geography.similarity_score }} </td>
          <td>
            <a href="#editGeographyModal" class="edit" data-toggle="modal" data-id="{{ geography.geo_id }}"
              data-name="{{ geography.geo_name }}" data-description="{{ geography.geo_descr }}"
              data-parent="{{ geography.parent_geo_id }}" data-similarity="{{ geography.similarity_score }}">
              <i class="material-icons" data-toggle="tooltip" title="Edit">&#xE254;</i>
            </a>
          </td>
          <td>
            <a href="#deleteGeographyModalOne" class="delete" data-toggle="modal"
              data-id="{{ geography.geo_id }}" data-name="{{ geography.geo_name }}"
              data-description="{{ geography.geo_descr }}" data-parent="{{ geography.parent_geo_id }}"
              data-similarity="{{ geography.similarity_score }}"><i class="material-icons" data-toggle="tooltip"
                title="Delete">&#xE872;</i></a>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    <div class="clearfix">
      <div class="hint-text">{{ pagination.info}}</div>
      {{ pagination.links }}
    </div>
  </div>
</div>
<!-- Add Modal HTML -->
<div id="addGeographyModal" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <form id="addGeographyForm">
        <div class="modal-header">
          <h4 class="modal-title">Add Geography</h4>
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <label>Name</label>
            <input type="text" name="name" class="form-control" required>
          </div>
          <div class="form-group">
            <label>Description</label>
            <input type="text" name="description" class="form-control" required>
          </div>
          <div class="form-group">
            <label>Parent</label>
            <input type="number" name="parent" class="form-control" >
          </div>
          <div class="form-group">
            <label>Similarity</label>
            <input type="number" name="similarity" class="form-control" required>
          </div>
        </div>
        <div class="modal-footer">
          <input type="button" class="btn btn-default" data-dismiss="modal" value="Cancel">
          <input type="submit" class="btn btn-success" value="Add">
        </div>
      </form>
    </div>
  </div>
</div>
<!-- Edit Modal HTML -->
<div id="editGeographyModal" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <form id="editGeographyForm">
        <div class="modal-header">
          <h4 class="modal-title">Edit Geography</h4>
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        </div>
        <div class="modal-body">
          <input type="hidden" name="geographyid" id="geographyid" >
          <div class="form-group">
            <label>Name</label>
            <input type="text" class="form-control" name="name" id="name" required>
          </div>
          <div class="form-group">
            <label>Description</label>
            <input type="text" class="form-control" name="description" id="description" required>
          </div>
          <div class="form-group">
            <label>Parent</label>
            <input type="number" class="form-control" name="parent" id="parent">
          </div>
          <div class="form-group">
            <label>Similarity</label>
            <input type="number" class="form-control" name="similarity" id="similarity" required>
          </div>
        </div>
        <div class="modal-footer">
          <input type="button" class="btn btn-default" data-dismiss="modal" value="Cancel">
          <input type="submit" class="btn btn-info" value="Save">
        </div>
      </form>
    </div>
  </div>
</div>
<!-- Delete Modal HTML -->
<div id="deleteGeographyModalOne" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <form id="deleteGeographyForm">
        <div class="modal-header">
          <h4 class="modal-title">Delete Geography</h4>
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        </div>
        <div class="modal-body">
          <p>Are you sure you want to delete this Record?</p>
          <div class="form-group row">
            <input type="hidden" readonly id="geographyid" name="geographyid">
            <label for="geographyname" class="col-sm-2 col-form-label">Name</label>
            <div class="col-sm-10 ml-1">
              <input type="text" readonly class="form-control-plaintext" id="geographyname">
            </div>
            <label for="geographydescription" class="col-sm-2 col-form-label">Description</label>
            <div class="col-sm-10 ml-1">
              <input type="text" readonly class="form-control-plaintext" id="geographydescription">
            </div>
            <label for="geographyparent" class="col-sm-2 col-form-label">Parent</label>
            <div class="col-sm-10 ml-1">
              <input type="text" readonly class="form-control-plaintext" id="geographyparent">
            </div>
            <label for="geographysimilarity" class="col-sm-2 col-form-label">Similarity</label>
            <div class="col-sm-10 ml-1">
              <input type="text" readonly class="form-control-plaintext" id="geographysimilarity">
            </div>
          </div>
          <p class="text-warning"><small>This action cannot be undone.</small></p>
        </div>
        <div class="modal-footer">
          <input type="button" class="btn btn-default" data-dismiss="modal" value="Cancel">
          <input type="submit" class="btn btn-danger" value="Delete">
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}

{% block jscript %}
<script type="text/javascript">
  $(document).ready(function () {
    // Activate tooltip
    $('[data-toggle="tooltip"]').tooltip();

    // Select/Deselect checkboxes
    var checkbox = $('table tbody input[type="checkbox"]');
    $("#selectAll").click(function () {
      if (this.checked) {
        checkbox.each(function () {
          this.checked = true;
        });
      } else {
        checkbox.each(function () {
          this.checked = false;
        });
      }
    });
    checkbox.click(function () {
      if (!this.checked) {
        $("#selectAll").prop("checked", false);
      }
    });
    checkbox.click(function () {
      const parent_elem_tag = '#geography' + $(this).data('parent');
      const parent = $(parent_elem_tag);
      if (parent.length) {
        const sibling_elem_ids = parent.data('children');
        const sibling_elem_tags = sibling_elem_ids.map(id => `#geography${id}`);
        const all_siblings_checked = sibling_elem_tags.reduce((sum, next) => sum && $(next).prop("checked"), true);
        if (all_siblings_checked) {
          parent.prop("checked", true);
        }
        if (!this.checked && parent.prop("checked")) {
          parent.prop("checked", false);
        }
      }
      const children_elem_ids = $(this).data('children');
      const children_elem_tags = children_elem_ids.map(id => `#geography${id}`);
      children_elem_tags.forEach(tag => $(tag).prop("checked", this.checked));

    });
    $(document).on("click", ".edit", function () {
      var myGeographyId = $(this).data('id');
      $(".modal-body #geographyid").val(myGeographyId);
      var myGeographyName = $(this).data('name');
      $(".modal-body #name").val(myGeographyName);
      var myGeographyDesc = $(this).data('description');
      $(".modal-body #description").val(myGeographyDesc);
      var myGeographyParent = $(this).data('parent');
      $(".modal-body #parent").val(myGeographyParent);
      var myGeographySimilarity = $(this).data('similarity');
      $(".modal-body #similarity").val(myGeographySimilarity);
    });
    $(document).on("click", ".delete", function () {
      var myGeographyId = $(this).data('id');
      $(".modal-body #geographyid").val(myGeographyId);
      var myGeographyName = $(this).data('name');
      $(".modal-body #geographyname").val(myGeographyName);
      var myGeographyDesc = $(this).data('description');
      $(".modal-body #geographydescription").val(myGeographyDesc);
      var myGeographyParent = $(this).data('parent');
      $(".modal-body #geographyparent").val(myGeographyParent);
      var myGeographySimilarity = $(this).data('similarity');
      $(".modal-body #geographysimilarity").val(myGeographySimilarity);
    });
    $(function () {
      $('#addGeographyForm').submit(function (e) {
        e.preventDefault();
        $.ajax({
          url: "/geography/add",
          type: "POST",
          contentType: 'application/json;charset=UTF-8',
          data: JSON.stringify($('#addGeographyForm').serializeArray().reduce(function (acc, cur) { acc[cur.name] = cur.value; return acc }, {})),
          success: function (data) {
            $('#addGeographyForm').modal('hide');
            location.reload();
          }
        });
      });
    });
    $(function () {
      $('#editGeographyForm').submit(function (e) {
        var edid = $('#editGeographyForm #geographyid').val().trim();
        var urlAjax = "/geography/edit/" + edid;
        e.preventDefault();
        $.ajax({
          url: urlAjax,
          type: "POST",
          contentType: 'application/json;charset=UTF-8',
          data: JSON.stringify($('#editGeographyForm').serializeArray().reduce(function (acc, cur) { acc[cur.name] = cur.value; return acc }, {})),
          success: function (data) {
            if (data.redirect) {
              // data.redirect contains the string URL to redirect to
              $('#editGeographyForm').modal('hide');
              window.location.href = data.redirect;
            } else {
              // data.form contains the HTML for the replacement form
              $("#editGeographyform").replaceWith(data.form);
              location.reload();
            }
          }
        });
      });
    });
    $(function () {
      $('#deleteGeographyForm').submit(function (e) {
        var delid = $('#deleteGeographyForm #geographyid').val().trim();
        var urlAjax = "/geography/delete/" + delid;
        e.preventDefault();
        $.ajax({
          url: urlAjax,
          type: "POST",
          contentType: 'application/json;charset=UTF-8',
          data: "id=" + delid,
          success: function (data) {
            if (data.redirect) {
              // data.redirect contains the string URL to redirect to
              $('#deleteGeographyForm').modal('hide');
              window.location.href = data.redirect;
            } else {
              // data.form contains the HTML for the replacement form
              $("#deleteGeographyForm").replaceWith(data.form);
              location.reload();
            }
          }
        });
      });
    });
  });
</script>
{% endblock %}
