{% import "bootstrap/utils.html" as utils %}
{% extends "base.html" %}
{% block title %}Usages{% endblock %}
{% block body %}
<div class="content-section">
  <div class="outer">
    <div class="middle">
      <div class="inner">
        <br/>
        {{ utils.flashed_messages() }}
        <br/>
        <h1 style="text-align:center;">Usages</h1>
        {% if usages %}
          <hr class="intro-divider">
          <div class="center">
            <table class="table table-striped table-bordered">
              <thead>
                <tr>
                  <th width="15%"> Name </th>
                  <th width="40%"> Description </th>
                  <th width="12%"> Parent Id </th>
                  <th width="12%"> Score </th>
                  <th width="15%"> Edit </th>
                  <th width="15%"> Delete </th>
                </tr>
              </thead>
              <tbody>
              {% for usage in usages %}
                <tr>
                  <td> {{ usage.usage_name }} </td>
                  <td> {{ usage.usage_descr }} </td>
                  <td> {{ usage.parent_source_id}} </td>
                  <td> {{ usage.similarity_score}} </td>
                  <td>
                    <a href="{{ url_for('usage.edit_usage', id=usage.usage_id) }}">
                      <i class="fa fa-pencil"></i> Edit
                    </a>
                  </td>
                  <td>
                    <a href="{{ url_for('usage.delete_usage', id=usage.usage_id) }}">
                      <i class="fa fa-trash"></i> Delete
                    </a>
                  </td>
                </tr>
              {% endfor %}
              </tbody>
            </table>
          </div>
          <div style="text-align: center">
        {% else %}
          <div style="text-align: center">
            <h3> No usages have been added. </h3>
            <hr class="intro-divider">
        {% endif %}
          <a href="{{ url_for('usage.add_usage') }}" class="btn btn-default btn-lg">
            <i class="fa fa-plus"></i>
            Add Usages
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}