{% from 'bootstrap/wtf.html' import form_field %}
<form id="Source_DimForm" name="Source_DimForm" class="form" method="post">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="close">
      <span aria-hidden="true">&times;</span>
    </button>
    <h4 class="modal-title">
    {% block title %}
    {% endblock %}
    </h4>
  </div>
  <div class="modal-body">
    {{ form.hidden_tag() }}
    {{ form_field(form.name) }}
    {{ form_field(form.description) }}
  </div>
  <div class="modal-footer">
    {% block footer %}
      {{ form_field(form.submit) }} oder <a href="" data-dismiss="modal">Submit</a>
    {% endblock %}
  </div>
</form>