{% extends "base.html" %}
{% block title %}Domain Dimension{% endblock %}
{% block body %}
<div class="container">
	<div class="table-wrapper">
		<div class="table-title">
			<div class="row">
				<div class="col-sm-6">
					<h2>Nearest Classifications</h2>
				</div>
			</div>
		</div>
		<table class="table table-striped table-hover">
			<thead>
				<tr>
					<th>Label</th>
					<th>Recipe ID</th>
				</tr>
			</thead>
			<tbody>
				{% for classification in nearbylist %}
				<tr>
					<td>
						<span class="custom-checkbox">
							<input type="radio" id="{{ 'classification' ~ classification.classification_id }}" name="radio1" value="{{ classification.classification_id }}">
							<label for="radio1"></label>
						</span>
					</td>
					<td> {{ classification.label }} </td>
					<td> {{ classification.recipe_id }} </td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
</div>
{% endblock %}

{% block jscript %}	
<script type="text/javascript">
$(document).ready(function () {
	
});
</script>
{% endblock %}